@charset "UTF-8";
/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --Linear-gradient /*(active input border)*/: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --Red /*(input errors)*/: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --tipo-principal: 'Space Grotesk', sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 1.125em;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}   

.contenedor_barra{
    width: 100%;
    height: 100vh;
}
.barra{
    background: url(../images/bg-main-desktop.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 30% 100%;
    display: flex;
    align-items: center;
}
.contenedor_cards{
    max-width: 400px;
    margin: 0 auto;
    /*position: relative;
    left: 0;*/
}
.contenedor_card{
  position: relative;
}
.contenedor_info{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1em;
}
.inner_icono{
    margin-bottom: 3.5rem;
}
.imagen_logo_card{
    width: 90px;
}
.numero_tarjeta{
    color: var(--White);
    letter-spacing: .1em;
}
.inner_datos_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.nombre_tarjeta,
.fecha,
.fecha_2,
.separator,
.numero_cvc{
    font-size: .8em;
    color: var(--White);
    letter-spacing:  2px;
    text-transform: uppercase;
}
.numero_tarjeta{
  font-size: 1.5rem;
}
.contenedor_info_cvc{
    height: 100%;
}
.container_info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.inner_cvc{
    width: 100%;
    text-align: right;
}
.contenedor_card_2{
    transform: translateX(110px);
    margin-top: 1.5rem;
}
.contenedor_info_cvc{
    padding: 2.3rem;
}
.contenedor_formulario{
    margin: 0 auto;
}
.contenedor_formulario{
  width: 100%;
  max-width: 488px;
  padding: 1rem;
}
.grupo_input{
  margin-bottom: 1rem;
}
.form_input{
  width: 100%;
  padding: 1rem;
  border: 1.5px solid var(--Light-grayish-violet);
  border-radius: 10px;
  outline: none;
}
.form_input:focus{
  border: 1.5px solid hsl(249, 99%, 64%) to hsl(278, 94%, 30);
}
.grupo_body{
  display: flex;
}
.grupo_forms{
  margin-right: 1rem;
}
.grupo_inputs{
  display: flex;
  gap: 1rem;
}
.contenedor_boton{
  margin-top: 1.5rem;
}
.btn{
  width: 100%;
  padding: 1rem;
  background: var(--Very-dark-violet);
  color: var(--White);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.contenedor_modal{
  display: none;
}
.inner_modal{
  padding-top: 3rem;
}
.inner_modal_imagen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
}
.inner_trank{
  margin-top: 3rem;
}
.trank{
  font-size: 2em;
  font-weight: 500;
  color: var(--Very-dark-violet);
  text-transform: uppercase;
  letter-spacing: .1em;
}
.inner_texto{
  text-align: center;
}
.texto{
  color: var(--Dark-grayish-violet);
}
.contenedor_boton_modal{
  margin-top: 3rem;
}
.error{
  display: none;
  margin-top: .1rem;
}
.error_error{
  display: none;
}
.error_input .form_input{
  border: 2px solid var(--Red);
}
.error_input .error{
    display: block;
    font-size: .9em;
    font-weight: 500;
    color: var(--Red);
}
.desactive_form{
  display: none;
}
.active_modal{
  display: block;
}
.error_active .error_error{
  display: block;
  font-size: .9em;
    font-weight: 500;
    color: var(--Red);
}
.error_active .form_input{
  border: 2px solid var(--Red);
}
@media screen and (max-width: 1127px){
  .barra{
    background-size: 35% 100%;
  }

  .contenedor_card_2{
    transform: translateX(55px);
  }
}
@media screen and (max-width: 985px){
  .barra{
    flex-direction: column;
    background-size: 100% 30%;
    padding: 1rem;
  }
 .contenedor_card_2{
  margin-top: .5rem;
  transform: none;
 }
}
@media screen and (max-width: 410px){
  .inner_info{
    padding: 0;
  }
  .numero_tarjeta{
    font-size: 1.2em;
  }
  .inner_icono{
    margin-bottom: 2.8rem;
  }
}
@media screen and (max-width: 390px){
  .nombre_tarjeta,
.fecha,
.fecha_2,
.separator,
.numero_cvc{
    font-size: .7em;
}
.inner_icono{
  margin-bottom: 2.5rem;
}
}
@media screen and (max-width: 373px){
  .inner_icono{
    margin-bottom: 2rem;
  }
}